

<form method="post" class="SignInForm">
    <div class="signOn-container">
        <div class="row">
            <div class="col-12"><h3>Register</h3></div>
        </div>
        <div class="row">
            <div class="col-4">
                <label class="lblText">First Name<sup>*</sup></label>
            </div>
            <div class="col-8">
                <input type="text" id="txtFirstName" class="inputField" />
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label class="lblText">Last Name<sup>*</sup></label>
            </div>
            <div class="col-8">
                <input type="text" id="txtLastName" class="inputField" />
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label class="lblText">Title</label>
            </div>
            <div class="col-8">
                <input type="text" id="txtFirstName" class="inputField" />
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label class="lblText">Primary Telephone<sup>*</sup></label>
            </div>
            <div class="col-8">
                <input type="text" id="txtTelephonePrim" class="inputField" />
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label class="lblText">Secondary Telephone</label>
            </div>
            <div class="col-8">
                <input type="text" id="txtSecondaryTelephone" class="inputField" />
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label class="lblText">Email<sup>*</sup></label>
            </div>
            <div class="col-8">
                <input type="text" id="txtEmail" class="inputField" />
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label class="lblText">Password<sup>*</sup></label>
            </div>
            <div class="col-8">
                <input type="text" id="txtPassword" class="inputField" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btnSubmit">Register</button>
            </div>
            <div class="col-6">
                <button type="submit" class="btnCancel">Register</button>
            </div>
        </div>
    </div>
</form>