################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Amazon/FileContentIndex
/DataLayer/obj/Debug/net6.0/DataLayer.csproj.AssemblyReference.cache
/Amazon/obj/Debug/net6.0/Amazon.dll
/Amazon/obj/Debug/net6.0/Amazon.csproj.AssemblyReference.cache
/Amazon/bin/Debug/net6.0/DataLayer.pdb
/Amazon/bin/Debug/net6.0/Amazon.dll
/Amazon/bin/Debug/net6.0/Amazon.pdb
/Amazon/bin/Debug/net6.0/AmazonModel.dll
/Amazon/bin/Debug/net6.0/AmazonModel.pdb
/Amazon/bin/Debug/net6.0/DataLayer.dll
/.vs/Amazon/v17/.suo
/.vs/Amazon/FileContentIndex/102c5b89-e2df-45a5-8018-eea5e37b5f99.vsidx
