################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Amazon/FileContentIndex/23b30600-05d6-44f9-ab25-3feb3301e449.vsidx
/.vs/Amazon/FileContentIndex/2ad1b8a6-8161-498c-8f0d-f375432a29db.vsidx
/.vs/Amazon/FileContentIndex/6b13b383-cbed-4d3e-93c5-42a7c88ac1e9.vsidx
/.vs/Amazon/FileContentIndex/ab7358dc-f69a-425e-893a-0828aae15dc0.vsidx
